
*{
    padding:0;
    margin:0;
    box-sizing:content-box;
    font-family:'Noto Sans Georgian', sans-serif;
    font-size:large;
}

:root{
    --main:aqua;
    --lmain:rgb(102, 247, 247);
    --comp:rgb(255, 102, 0);
    --llmain:rgb(186, 246, 246);
    --llcomp:rgb(251, 181, 135);
    --lcomp:rgb(251, 140, 66);
}

nav{
    background-color:white;
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    justify-content:space-around;
    border-bottom:4px solid var(--comp);
    z-index:1;

}
#logo{
    width:9rem;
}
img:hover{
    border:2px solid var(--comp);
}

nav p {
    font-size:3rem;
    text-align: center;
    font-family:'Noto Sans Georgian', sans-serif;
    
}
nav ul{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
}
li{
    margin:0.2rem;
    font-size:1.6rem;
}
#motto{
    padding:0;
    padding-top:20px;
    color:var(--comp);
    font-family: 'Allura', cursive;
}
#menu{
    padding:2rem;
    width:3rem;
    height:3rem;
    display: none;   
    border:none;
}
.container{
    margin-top:10rem;
}
h2{
    margin-bottom:1.2rem;
    font-size:2rem;
    margin-left:3.2rem;
}
p{
    margin-left: 2rem;
    
}
.container_designs{ 
    margin-top:50px;
}
.designEach{
    display:flex;
    flex-direction:column;  
}
.designEach button{
    background:linear-gradient(to right,var(--main),var(--comp));
}
nav a, .footer-content li a{
    color:var(--main);
    text-decoration: none;
}
nav a:hover, nav a:active, .footer-content li a:hover, .footer-content li a:active{
    color:var(--comp);
    text-decoration:underline;
}
.container p{
    padding:0.4rem;
    background-color: var(--llmain);
    border-radius:12px;
    margin:4px;
    border:2px solid var(--lcomp);
}
footer{
    background-color:var(--llmain);
    margin-top:8rem;
    padding-top:2rem;
    margin-bottom:0.4rem;
    border-top:solid 0.2rem var(--comp);
}
.footercontainer{
    
    display:flex;
    justify-content:space-around;
    list-style-type:none;
}

.footer-content ul{
    list-style-type:none;
}
.footer-content img{
    width:1.5rem;
}
#copyp{
    padding-bottom:1rem;
    text-align: center;
}
#copy{
    width:1rem;
}
@media (max-width:580px){
    nav ul{
        display:none;
    }
    #menu{
        display:block;
    }
    #motto{
        font-size:2rem;
    }
    
    #menu{
        width:3rem;
        height:1.5rem;
    }
    #logo{
        width:4rem;
        height:3rem;
        margin-top:2rem;
    }
    nav{
        position:relative;
    }
    main{
        padding-top:0;
    }
    #name{
        margin-top:0.8rem;
    }
    .container{
        margin-top:2rem;
    }
}
@media (min-width:581px) and (max-width:1200px){
    .fl{display:grid;
        grid-template-areas:
        a1 a2
        a3 a4
        a4 a5;
        grid-template-columns:1fr 1fr;
        grid-template-rows:1fr 1fr 1fr;
    }
    .designEach img{
        width:100%;
        height:16rem;
    }
    .designEach{
        margin:10px;
    }
    nav ul{
        display:none;
    }
    #menu{
        display:block;
    }
    .container{
        margin-top:12rem;
    }
}
@media (min-width:1201px){
    .fl{display:grid;
        grid-template-areas:
        a1 a2 a3
        a2 a4 a5;
        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows:1fr 1fr;
    }
    .designEach img{
        width:100%;
        height:16rem;
    }
    .designEach{
        margin:10px;
    }
    nav ul{
        margin-top:1.6rem;
    }
}
@media(orientation:landscape){

}
@media (max-width:800px)and (orientation:landscape){
    nav ul{
        display:none;
    }
    #menu{
        display:block;
    }
    #motto{
        font-size:2rem;
    }
    
    #menu{
        width:3rem;
        height:1.5rem;
    }
    #logo{
        width:4rem;
        height:3rem;
        margin-top:2rem;
    }
    nav{
        position:relative;
    }
    main{
        padding-top:0;
    }
}
@media(max-width:1201px){
    nav ul{
        display:block;
    }
}
