
*{
    padding:0;
    margin:0;
    box-sizing:content-box;
    font-family:'Noto Sans Georgian', sans-serif;
    font-size:large;
}

:root{
    --main:aqua;
    --lmain:rgb(102, 247, 247);
    --comp:rgb(255, 102, 0);
    --llmain:rgb(186, 246, 246);
    --llcomp:rgb(251, 181, 135);
    --lcomp:rgb(251, 140, 66);
}
img:hover{
    border:2px solid var(--comp);
}
nav{
    background-color:white;
    display:flex;
    position:fixed;
    top:0;
    width:100%;
    justify-content:space-around;
    border-bottom:4px solid var(--comp);
    z-index:1;

}
#logo{
    width:9rem;
    border:none;
}


nav p {
    font-size:3rem;
    text-align: center;
    font-family:'Noto Sans Georgian', sans-serif;
    
}
nav ul{
    display:flex;
    list-style-type: none;
    justify-content: flex-end;
}
li{
    margin:0.2rem;
    font-size:1.6rem;
}
#motto{
    padding:0;
    padding-top:20px;
    color:var(--comp);
    font-family: 'Allura', cursive;
}
#menu{
    padding:2rem;
    width:3rem;
    height:3rem;
    display: none;   
}
.container p{
    margin-top:12rem;
    margin-left:2rem;
    margin-bottom:2.4rem;
    
}
.places_eachpart img{
    width:100%;
}
.eachskill, .places_eachpart p{
    padding:0.4rem;
    background-color: var(--llmain);
    border-radius:12px;
    margin:4px;
    border:2px solid var(--lcomp);
    margin:2.4rem;
}
h4{
    padding:0.4rem;
    background-color: var(--llmain);
    border-radius:12px;
    margin:4px;
    border:2px solid var(--lcomp);
    margin-left:1.8rem;
    /* margin-bottom:0.1rem; */
}
h2{
    padding:0.4rem;
    background-color: var(--llmain);
    border-radius:12px;
    margin:4px;
    border:2px solid var(--lcomp);
    margin:1.6rem;
}
nav a, .footer-content li a{
    color:var(--main);
    text-decoration: none;
}
nav a:hover, nav a:active, .footer-content li a:hover, .footer-content li a:active{
    color:var(--comp);
    text-decoration:underline;
}
footer{
    background-color:var(--llmain);
    margin-top:8rem;
    padding-top:2rem;
    margin-bottom:0.4rem;
    border-top:solid 0.2rem var(--comp);
}
.footercontainer{
    
    display:flex;
    justify-content:space-around;
    list-style-type:none;
}

.footer-content ul{
    list-style-type:none;
}
.footer-content h3, .footer-content p{
    margin:0;
}
.footer-content img{
    width:1rem;
    margin:0;
}
#copyp{
    padding-bottom:1rem;
    text-align: center;
}
#copy{
    width:1rem;
    margin:0;
}
@media (max-width:580px){
    .container p{
        margin-top:2.4rem;
    }
    nav ul{
        display:none;
    }
    #menu{
        display:block;
    }
    #motto{
        font-size:2rem;
    }
    
    #menu{
        width:3rem;
        height:1.5rem;
    }
    #logo{
        width:4rem;
        height:3rem;
        margin-top:2rem;
    }
    nav{
        position:relative;
    }
    main{
        padding-top:0;
    }
}
@media (min-width:581px) and (max-width:1200px){
    nav ul{
        display:none;
    }
    #menu{
        display:block;
    }
    .skills{
        display:flex;
        justify-content: space-around;
    }
}

@media(min-width:1201px){
    nav ul{
        margin-top:1.6rem;
    }
    .skills{
        display:flex;
        justify-content: space-around;
    }
    .places_eachpart img{
        margin:25%;
        width:50%;
        margin-top:0;
        margin-bottom:0;
    }
}
@media(orientation: landscape){
    .places_eachpart img{
        margin:25%;
        width:50%;
        margin-top:0;
        margin-bottom:0;
    }
}
@media (max-width:800px)and (orientation:landscape){
    nav ul{
        display:none;
    }
    #menu{
        display:block;
    }
    #motto{
        font-size:2rem;
    }
    
    #menu{
        width:3rem;
        height:1.5rem;
    }
    #logo{
        width:4rem;
        height:3rem;
        margin-top:2rem;
    }
    nav{
        position:relative;
    }
    main{
        padding-top:0;
    }
    .container p{
        margin-top:2.4rem;
    }
}
@media(min-width:1201px){
    nav ul{
        display:block;
    }
}
